body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #444;
    background-color: whitesmoke;
}

#col1 {
    float: left;
    width: 35%;
}

#col2 {
    float: left;
    width: 65%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#name {
    padding-left: 20pt;
    line-height: 0pt;
    color: black;
    font-family:Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 40pt;
}

#last {
    color: #0072BC;
}

#info {
    padding-left: 20pt;
    color: #6A6A6A;
    font-family:"Trebuchet MS", sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
    margin-top: -5px;
}

#header {
    text-align: justify;
    padding: 0;
    margin: 0;
}

#skill-list li {
    display: inline-block;
    margin: 0 8px;
}

h2 {
    padding-left: 20pt;
}

h3 {
    padding-left: 25pt;
}

h5 {
    margin-top: -15px;
    padding-left: 30pt;
}

h6 {
    margin-top: -15px;
    padding-left: 35pt;
}

a {
    color: inherit;
    text-decoration:none;
} 

#github-icon {
    padding-right: 5px;
}

#linkedin-icon {
    padding-right: 5px;
}

p {
    padding-left: 35pt;
    margin-top: -15px;
}

ul {
    margin-top: -15px;
}

li {
    margin-left: 20pt;
    margin-right: 20pt
}

button {
    margin-left: 20pt;
}